@*
    //Normally in this way it is complety specified the route:
    Layout = "~/Views/Shared/_NewLayout.cshtml";
    //but it is not necessary, because the default folder to look for a file is Shared
    //so this is enough: Layout = "_NewLayout";

*@
@{
    Layout = "_NewLayout";
    ViewData["Title"] = "Home Page";
}

<style>
 .centered {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 }
</style>

<div class = "centered">
    <a asp-controller="Home" asp-action="Menu" >
        <img src="~/images/banners/logo.png"/>
    </a>
</div>
